<!DOCTYPE html>
<html>
<head>
  <title>Blog gem</title>
  <%= stylesheet_link_tag    "blog/gem/application", media: "all" %>
  <%= javascript_include_tag "blog/gem/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
